.menu-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
  font-size: 25px;
  overflow-x: auto;
}


.header-with-image {
  background-image: url("../src/assets/menuimg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff; /* Optional: Adjust text color to be visible against the background */
}

table {
    width: 88%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-bottom:1px solid black;
    margin: 0 auto;
  }
  

  th, td {
    border: 1px solid #ddd;
    padding: 35px;
    text-align: center;
    border:none;
   
  }

  th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 1; /* Ensure the header stays on top of other elements */
}

  .wide-column {
    width: 176px; /* Adjust the width as needed */
}

  .wide-column-1{
    width: 218px;

}
